%table.info
  - obj.each do |key,val|
    - unless %w[ ivars methods ].include?(key) or (obj['type'] != 'string' and key == 'data')
      %tr
        %td.key= key == '_id' ? 'address' : key
        %td.addr= show_addr val
        %td.val= show_val val

  - if obj['type'] == 'class'
    - instances = $dump.db.find(:class => obj['_id']).count
    %tr
      %td.key instances
      %td.addr &nbsp;
      %td.val
        %a{:href => "/listview?where=#{Yajl.dump :class => obj['_id']}"}= instances

- if obj['type'] == 'hash' and list = obj['data'] and list.any?
  %table.info.hash_data
    - list.sort_by{|k,v| k}.each do |key,val|
      %tr
        %td.key= show_val key
        %td.addr.left= show_addr key
        %td.addr.right= show_addr val
        %td.val= show_val val

- if obj['type'] == 'array' and list = obj['data'] and list.any?
  %table.info.array_data
    - list.each_with_index do |val,key|
      %tr
        %td.key= key
        %td.addr= show_addr val
        %td.val= show_val val

- if list = obj['ivars']
  - ivars, rest = list.partition{ |k,v| k =~ /^@\w/ }
  - cvars, rest = rest.partition{ |k,v| k =~ /^@/ }
  - internal, constants = rest.partition{ |k,v| k =~ /^__/ }

  - if internal.any?
    %table.info.internal
      - internal.sort_by{|k,v| k}.each do |key,val|
        %tr
          %td.key= key
          %td.addr= show_addr val
          %td.val= show_val val

  - if ivars.any?
    %table.info.ivars
      - ivars.sort_by{|k,v| k}.each do |key,val|
        %tr
          %td.key= key
          %td.addr= show_addr val
          %td.val= show_val val

  - if cvars.any?
    %table.info.cvars
      - cvars.sort_by{|k,v| k}.each do |key,val|
        %tr
          %td.key= key
          %td.addr= show_addr val
          %td.val= show_val val

  - if constants.any?
    %table.info.constants
      - constants.sort_by{|k,v| k}.each do |key,val|
        %tr
          %td.key= key
          %td.addr= show_addr val
          %td.val= show_val val

- if list = obj['methods']
  %table.info.methods
    - list.sort_by{|k,v| k}.each do |key,val|
      %tr
        %td.key= key
        %td.addr= show_addr val
        %td.val= show_val val
