%ul.grouped
  - list.each do |o|
    %li
      - w = (where || {}).merge(key => o[key])

      %span.val
        %a{:href => "/listview?where=#{Yajl.dump w}"}
          - case key
          - when 'file'
            - if f = o[key]
              = f.split('/').last(4).join('/')
            - else
              (unknown)
          - when 'line'
            line
            = o[key].to_i
          - when 'length'
            length
            = o[key].to_i
          - else
            = o[key] || '(unknown)'

      %span.num= o['count'].to_i

      - possible = %w[ type file ]

      - case w['type']
      - when 'string', 'hash', 'array'
        - possible << 'line'
        - possible << 'length'
        - possible << 'data' if w['type'] == 'string'
      - when 'module', 'class'
        - possible << 'name'
      - when 'data', 'object'
        - possible << 'class_name'
      - when 'node'
        - possible << 'node_type'

      - possible << 'line'
      - possible -= w.keys
      - possible.uniq!

      - if possible.any?
        - subkey = possible.first
        %ul{:url => "/groupview?key=#{subkey}&where=#{Yajl.dump w}", :possible => possible.join(',')}
          %img{:src => '/demo/spinner.gif'}
