%ul.grouped
  - list.each do |o|
    %li
      - w = (where || {}).merge(key => o[key])

      %span.num= o['count'].to_i
      %span.val
        %a{:href => url_for('detail', w)}
          - case key
          - when 'time'
            - diff = time_range.last - o[key]['$gte']
            - diff /= 1000
            #{diff/1000.0} seconds old
          - when 'file'
            - if f = o[key]
              = f.split('/').last(4).join('/')
            - else
              (unknown)
          - when 'line'
            line
            = o[key].to_i
          - when 'length'
            length
            = o[key].to_i
          - when 'data'
            - if w['type'] == 'string'
              - if o[key].nil?
                = '(shared)'
              - else
                = h o[key].dump
            - else
              = o[key] || '(unknown)'
          - else
            = o[key] || '(unknown)'

      - if possible = possible_groupings_for(w) and possible.any?
        - subkey = possible.first

        %ul{:url => url_for("group:#{subkey}", nil, w)}
          %img{:src => '/demo/spinner.gif'}
