%ul.grouped
  - list.each do |o|
    %li
      - w = (where || {}).merge(key => o[key])

      %span.val
        %a{:href => "/panel?subview=detail&where=#{Yajl.dump w}"}
          - case key
          - when 'file'
            - if f = o[key]
              = f.split('/').last(4).join('/')
            - else
              (unknown)
          - when 'line'
            line
            = o[key].to_i
          - when 'length'
            length
            = o[key].to_i
          - when 'data'
            - if w['type'] == 'string'
              - if o[key].nil?
                = '(shared)'
              - else
                = h o[key].dump
            - else
              = o[key] || '(unknown)'
          - else
            = o[key] || '(unknown)'

      %span.num= o['count'].to_i

      - if possible = possible_groupings_for(w) and possible.any?
        - subkey = possible.first
        %ul{:url => "/groupview?key=#{subkey}&where=#{Yajl.dump w}", :possible => possible.join(',')}
          %img{:src => '/demo/spinner.gif'}
