- num = @where ? @db.find(@where).count : @db.count
- key = @group_key

.panel
  %form#search
    #query
      - if @where
        %textarea{:readonly => 'true'}= Yajl.dump @where

    %ul.nav
      %li.objects
        #{num} object#{num == 1 ? '' : 's'}

      - if @where
        %li.detail
          %a{:href => url_for('detail', @where), :class => subview == 'detail' && 'selected'} #{num > 1 && @where ? 'list' : 'detail'}

      - unless @where
        %li.namespace
          %a{:href => url_for('namespace', @where), :class => subview == 'namespace' && 'selected'} namespace

      - if @where.nil? or (num == 1 and obj = @db.find_one(@where) and %w[ class iclass module ].include?(obj['type']))
        %li.subclasses
          %a{:href => url_for('subclasses', @where), :class => subview == 'subclasses' && 'selected'} subclasses

      - if num == 1
        %li.references
          %a{:href => url_for('references', @where), :class => subview == 'references' && 'selected'} references

      - if @where.nil? or num > 1
        %li.group
          - view = "group"
          - view += ":#{key}" if key
          %a{:href => url_for(view, @where), :class => subview == 'group' && 'selected'}
            group
            - if subview == 'group'
              - possible = possible_groupings_for(@where || {})
              - if possible.any?
                by
                %select.group_key
                  - possible.each do |name|
                    %option{:selected => name == key}= name

      %li
        - if subview == 'group' and key
          - oview = "group:#{key}"
        %a.popout{:style => 'float:right', :href => url_for(oview || subview, @where), :target => '_blank'}
          %img{:border => 0, :align => 'absmiddle', :src => '/link.png'}

  .content
    = content
