!!!
%html
  %head
    %title memprof.com: the ruby memory analyzer
    %link{:rel => 'icon', :href => '/favicon.png'}/
    %link{:rel => 'stylesheet', :href => '/demo/screen.css'}/
    %link{:rel => 'stylesheet', :href => '/demo/jquery.treeview.css'}/
    %link{:rel => 'stylesheet', :href => '/prettify.css'}/
    %link{:rel => 'stylesheet', :href => '/app.css'}/
    %link{:rel => 'stylesheet', :href => '/facebox/facebox.css'}/
  %body
    #menubar
      %b
        %a{:href => '/'} memprof.com
      -#
        %span.sep= "|"
        %span= "Dump:"
        %select.collection
          - get_dumps().each do |dump|
            %option{:selected => (session[:dump] == dump['_id'].to_s), :value => dump['_id'].to_s}= dump['name']
      %span.sep= "|"
      - if logged_in?
        %a{:href => '/logout'} logout
      - else
        %a{:href => '/signup', :rel => 'facebox'} signup
        or
        %a{:href => '/login', :rel => 'facebox'} login
      %span.sep= "|"
      %a{:href => '/pricing', :rel => 'facebox'} pricing
      %span.sep= "|"
      %a{:href => '/howto', :rel => 'facebox'} howto
      %span.sep= "|"
      %a{:href => '/contact', :rel => 'facebox'} contact us
      %span.sep= "|"
      %a{:href => 'http://bit.ly/93FoX9', :target => '_blank'} take our survey!

    = yield
    .clear{:style => 'clear: both'}
    
    %script{:type => 'text/javascript', :src => '/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/demo/jquery.treeview.js'}
    %script{:type => 'text/javascript', :src => '/demo/jquery.scrollTo-1.4.2.js'}
    %script{:type => 'text/javascript', :src => '/jquery.timeago.js'}
    %script{:type => 'text/javascript', :src => '/facebox/facebox.js'}
    %script{:type => 'text/javascript', :src => '/app.js'}
    %script{:type => 'text/javascript', :src => '/prettify.js'}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13122595-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
