!!!
%html
  %head
    %title memprof.com demo: ruby stdlib
    %link{:rel => 'icon', :href => '/favicon.png'}/
    %link{:rel => 'stylesheet', :href => '/demo/screen.css'}/
    %link{:rel => 'stylesheet', :href => '/demo/jquery.treeview.css'}/
    %link{:rel => 'stylesheet', :href => '/prettify.css'}/
    %link{:rel => 'stylesheet', :href => '/app.css'}/
    %link{:rel => 'stylesheet', :href => '/facebox/facebox.css'}/
  %body
    #menubar
      %b
        %a{:href => '/dumps'} memprof.com
      %span.sep= "|"
      %span= "Dump:"
      %select.collection
        - get_dumps().each do |dump|
          %option{:selected => (session[:dump] == dump['_id'].to_s), :value => dump['_id'].to_s}= dump['name']
      %span.sep= "|"
      %a{:href => '/howto', :rel => 'facebox'} howto
      %span.sep= "|"
      %a{:href => 'http://bit.ly/93FoX9', :target => '_blank'} help memprof by taking our survey!
      %span.sep= "|"
      %a{:href => 'mailto:gc@memprof.com'} contact us
      %span.sep= "|"
      %span= "Email:"
      %form{:action => '/email', :method => 'POST'}
        %input{:type => 'text', :name => 'email_addr', :value => '', :maxlength=>256}
        %input{:type => 'submit', :name => 'submit', :value => 'I want it.'}

    = yield
    .clear{:style => 'clear: both'}
    
    %script{:type => 'text/javascript', :src => '/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/demo/jquery.treeview.js'}
    %script{:type => 'text/javascript', :src => '/demo/jquery.scrollTo-1.4.2.js'}
    %script{:type => 'text/javascript', :src => '/app.js'}
    %script{:type => 'text/javascript', :src => '/prettify.js'}
    %script{:type => 'text/javascript', :src => '/facebox/facebox.js'}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13122595-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
